In [1]:
import pandas as pd

# 预备知识

pandas中有两个核心对象：DataFrame和Series。

DataFrame是一个表。 它包含一系列单独的条目，每个条目都有一定的值。 每个条目对应一行（或记录）和一列。

Series是一系列数据值。 如果DataFrame是表，则Series是列表。Series本质上是DataFrame的单个列。

## DataFrame 的创建

In [2]:
df1 = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
df2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})
df3 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])
print(df1,df2,df3,sep='\n\n')

   Yes   No
0   50  131
1   21    2

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [3]:
type(df1)

pandas.core.frame.DataFrame

In [4]:
[i for i in dir(pd.core.frame.DataFrame) if '_' not in i]

['T',
 'abs',
 'add',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'attrs',
 'axes',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pipe',
 'pivot',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'rename',
 'replace',
 'resample',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'sem',
 'shape',
 'shift',
 'size',
 'skew',
 'sparse',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [5]:
help(pd.core.frame.DataFrame.to_sql)

Help on function to_sql in module pandas.core.generic:

to_sql(self, name: str, con, schema=None, if_exists: str = 'fail', index: bool = True, index_label=None, chunksize=None, dtype=None, method=None) -> None
    Write records stored in a DataFrame to a SQL database.

    Databases supported by SQLAlchemy [1]_ are supported. Tables can be
    newly created, appended to, or overwritten.

    Parameters
    ----------
    name : str
        Name of SQL table.
    con : sqlalchemy.engine.Engine or sqlite3.Connection
        Using SQLAlchemy makes it possible to use any DB supported by that
        library. Legacy support is provided for sqlite3.Connection objects. The user
        is responsible for engine disposal and connection closure for the SQLAlchemy
        connectable See `here                 <https://docs.sqlalchemy.org/en/13/core/connections.html>`_

    schema : str, optional
        Specify the schema (if database flavor supports this). If None, use
        default schema.
    if_exists : {'fail', 'replace', 'append'}, default 'fail'
        How to behave if the table already exists.

        * fail: Raise a ValueError.
        * replace: Drop the table before inserting new values.
        * append: Insert new values to the existing table.

    index : bool, default True
        Write DataFrame index as a column. Uses `index_label` as the column
        name in the table.
    index_label : str or sequence, default None
        Column label for index column(s). If None is given (default) and
        `index` is True, then the index names are used.
        A sequence should be given if the DataFrame uses MultiIndex.
    chunksize : int, optional
        Specify the number of rows in each batch to be written at a time.
        By default, all rows will be written at once.
    dtype : dict or scalar, optional
        Specifying the datatype for columns. If a dictionary is used, the
        keys should be the column names and the values should be the
        SQLAlchemy types or strings for the sqlite3 legacy mode. If a
        scalar is provided, it will be applied to all columns.
    method : {None, 'multi', callable}, optional
        Controls the SQL insertion clause used:

        * None : Uses standard SQL ``INSERT`` clause (one per row).
        * 'multi': Pass multiple values in a single ``INSERT`` clause.
        * callable with signature ``(pd_table, conn, keys, data_iter)``.

        Details and a sample callable implementation can be found in the
        section :ref:`insert method <io.sql.method>`.

        .. versionadded:: 0.24.0

    Raises
    ------
    ValueError
        When the table already exists and `if_exists` is 'fail' (the
        default).

    See Also
    --------
    read_sql : Read a DataFrame from a table.

    Notes
    -----
    Timezone aware datetime columns will be written as
    ``Timestamp with timezone`` type with SQLAlchemy if supported by the
    database. Otherwise, the datetimes will be stored as timezone unaware
    timestamps local to the original timezone.

    .. versionadded:: 0.24.0

    References
    ----------
    .. [1] http://docs.sqlalchemy.org
    .. [2] https://www.python.org/dev/peps/pep-0249/

    Examples
    --------

    Create an in-memory SQLite database.

    >>> from sqlalchemy import create_engine
    >>> engine = create_engine('sqlite://', echo=False)

    Create a table from scratch with 3 rows.

    >>> df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})
    >>> df
         name
    0  User 1
    1  User 2
    2  User 3

    >>> df.to_sql('users', con=engine)
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

    >>> df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
    >>> df1.to_sql('users', con=engine, if_exists='append')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 1'), (1, 'User 2'), (2, 'User 3'),
     (0, 'User 4'), (1, 'User 5')]

    Overwrite the table with just ``df1``.

    >>> df1.to_sql('users', con=engine, if_exists='replace',
    ...            index_label='id')
    >>> engine.execute("SELECT * FROM users").fetchall()
    [(0, 'User 4'), (1, 'User 5')]

    Specify the dtype (especially useful for integers with missing values).
    Notice that while pandas is forced to store the data as floating point,
    the database supports nullable integers. When fetching the data with
    Python, we get back integer scalars.

    >>> df = pd.DataFrame({"A": [1, None, 2]})
    >>> df
         A
    0  1.0
    1  NaN
    2  2.0

    >>> from sqlalchemy.types import Integer
    >>> df.to_sql('integers', con=engine, index=False,
    ...           dtype={"A": Integer()})

    >>> engine.execute("SELECT * FROM integers").fetchall()
    [(1,), (None,), (2,)]

## Series的创建

In [6]:
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

print(s1,s2,sep='\n\n')

0    1
1    2
2    3
3    4
4    5
dtype: int64

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [7]:
type(s1)

pandas.core.series.Series

In [8]:
dir(pd.core.series.Series)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_binop',
 '_box_item_values',
 '_builtin_table',
 '_can_hold_na',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_convert_dtypes',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_find_valid_index',
 '_from_axes',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_cython_func',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_iget_item_cache',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_internal_get_values',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_datelike_mixed_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_map_values',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_ndarray_values',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_labels',
 '_set_name',
 '_set_subtyp',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_series_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'between',
 'between_time',
 'bfill',
 'bool',
 'cat',
 'clip',
 'combine',
 'combine_first',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dt',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'sparse',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'tolist',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

# 数据创建与读写

## 1. 读常用文件csv ( pandas.read_csv()  )

In [9]:
melbourne_data = pd.read_csv('data//melb_data.csv')

用**shape属性**来检查生成的DataFrame的大小：

In [10]:
melbourne_data.shape

(13580, 21)

使用**head命令**检查结果DataFrame的内容，该命令抓取前五行：

In [11]:
melbourne_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

可以在创建数据集时候通过**index_col参数**使用csv文件的某列作为内置索引,

In [12]:
melbourne_data = pd.read_csv('data//melb_data.csv', index_col=0)
melbourne_data.head()

,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
Suburb,,,,,,,,,,,,,,,,,,,,
Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

## 2. 读常用文件excel  ( pandas.read_excel()  )

In [13]:
wic_data = pd.read_excel('data/WICAgencies2013ytd.xls',sheet_name = 'Total Women')
wic_data.head()

,WIC PROGRAM -- TOTAL NUMBER OF WOMEN PARTICIPATING,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,FISCAL YEAR 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Data as of October 05, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,State Agency or Indian Tribal Organization,2012-10-01 00:00:00,2012-11-01 00:00:00,2012-12-01 00:00:00,2013-01-01 00:00:00,2013-02-01 00:00:00,2013-03-01 00:00:00,2013-04-01 00:00:00,2013-05-01 00:00:00,2013-06-01 00:00:00,2013-07-01 00:00:00,2013-08-01 00:00:00,2013-09-01 00:00:00,Average Participation
4,Connecticut,11891,11763,11328,11786,11159,11070,11379,11666,11387,11587,11570,11376,11496.8

## 3. 读常用文件sqlite ( pandas.read_sql_query() )

In [14]:
# 使用Python自带的sqlite3库连接数据库
import sqlite3

# 创建连接
con = sqlite3.connect("data/Salaries.sqlite")

# 用pandas.read_sql_query()执行查询语句
# 1.查看数据库的所有表格
tables = pd.read_sql_query("SELECT * FROM sqlite_master where type='table' ",con)
tables

,type,name,tbl_name,rootpage,sql
0,table,Salaries,Salaries,2,CREATE TABLE Salaries (\n Id INTEGER PRIMAR...

In [15]:
# 2.查看Salaries表里的所有数据
salaries_table = pd.read_sql_query("SELECT * FROM Salaries",con)
# 关闭数据连接
con.close()
salaries_table.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,,567595.43,567595.43,2011,,San Francisco,
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,,538909.28,538909.28,2011,,San Francisco,
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,,335279.91,335279.91,2011,,San Francisco,
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,,332343.61,332343.61,2011,,San Francisco,
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,,326373.19,326373.19,2011,,San Francisco,

## 4. 写入常用文件

In [16]:
# 写csv
melbourne_data.head().to_csv('data/melb_data_head.csv')

# 写excel
wic_data.head().to_excel('data/wic_head.xls', sheet_name='Total Women')

# 写sqlite
conn = sqlite3.connect("data/salaries_head.sqlite")
salaries_table.head().to_sql("salaries", conn)
conn.close()

ValueError: Table 'salaries' already exists.

# 索引，选择与赋值

In [20]:
import pandas as pd

#读取文件
melbourne_data = pd.read_csv('data/melb_data.csv')
pd.set_option('display.max_rows',5)

melbourne_data

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

## 用python原生的方法访问DataFrame

In [ ]:
melbourne_data.Address

In [ ]:
melbourne_data['Address']

In [ ]:
melbourne_data.Address[0]

In [ ]:
melbourne_data['Address'][0]

## 用pandas自己的访问器运算符loc和iloc访问DataFrame
loc和iloc都是**行优先**，列其次。 这与我们在原生Python中所做的相反，原生Python是**列优先**，行其次。

**iloc使用Python stdlib索引方案，其中包含范围的第一个元素，排除最后一个元素。因此0:10将选择条目0，...，9。同时，loc包含索引。因此0:10将选择条目0，...，10。**

### 基于索引来选择数据 ( iloc )

In [17]:
melbourne_data.iloc[0]

Address                   85 Turner St
Rooms                                2
Type                                 h
Price                         1.48e+06
Method                               S
SellerG                         Biggin
Date                         3/12/2016
Distance                           2.5
Postcode                          3067
Bedroom2                             2
Bathroom                             1
Car                                  1
Landsize                           202
BuildingArea                       NaN
YearBuilt                          NaN
CouncilArea                      Yarra
Lattitude                     -37.7996
Longtitude                     144.998
Regionname       Northern Metropolitan
Propertycount                     4019
Name: Abbotsford, dtype: object

In [18]:
melbourne_data.iloc[:,0]

Suburb
Abbotsford           85 Turner St
Abbotsford        25 Bloomburg St
Abbotsford           5 Charles St
Abbotsford       40 Federation La
Abbotsford            55a Park St
                       ...
Wheelers Hill        12 Strada Cr
Williamstown        77 Merrett Dr
Williamstown          83 Power St
Williamstown         96 Verdon St
Yarraville             6 Agnes St
Name: Address, Length: 13580, dtype: object

In [ ]:
melbourne_data.iloc[:3,0]

In [ ]:
melbourne_data.iloc[1:3, 0]

In [19]:
melbourne_data.iloc[[0, 2, 4], 0]

Suburb
Abbotsford    85 Turner St
Abbotsford    5 Charles St
Abbotsford     55a Park St
Name: Address, dtype: object

In [ ]:
melbourne_data.iloc[-5:]

### 基于标签来选择数据 ( loc )

In [21]:
melbourne_data.loc[0, 'Suburb']

'Abbotsford'

In [22]:
melbourne_data.loc[:, ['Suburb', 'Address', 'Price']]

             Suburb          Address      Price
0        Abbotsford     85 Turner St  1480000.0
1        Abbotsford  25 Bloomburg St  1035000.0
...             ...              ...        ...
13578  Williamstown     96 Verdon St  2500000.0
13579    Yarraville       6 Agnes St  1285000.0

[13580 rows x 3 columns]

## 设置索引

In [ ]:
import pandas as pd

#读取文件
melbourne_data = pd.read_csv('data/melb_data.csv')

melbourne_data.head()

In [ ]:
melbourne_data.set_index('Address')

## 条件选择

In [ ]:
melbourne_data.loc[melbourne_data.Suburb == 'Abbotsford']

In [ ]:
melbourne_data.loc[(melbourne_data.Suburb == 'Abbotsford') & (melbourne_data.Price >= 1000000)]

### 预先构建的条件选择器 ***isin() isnull() notnull()***

In [ ]:
melbourne_data.loc[melbourne_data.Suburb.isin(['Abbotsford', 'Airport West'])]

In [ ]:
melbourne_data.loc[melbourne_data.Price.notnull()]

## 赋值操作

In [ ]:
melbourne_data['critic'] = 'everyone'
melbourne_data['critic']

In [ ]:
melbourne_data['index_backwards'] = range(len(melbourne_data), 0, -1)
melbourne_data['index_backwards']

## 用iterrows()遍历DataFrame

In [ ]:
df = melbourne_data.loc[0:10,['Suburb','Address']]
for index,value in df.iterrows():
    print(f'index: {index}', f'value:\n{value}', sep='\r\n', end='\r\n======================================\r\n')

# 数据摘要与映射

## 数据摘要 ( describe() )

In [ ]:
import pandas as pd
import numpy as np

pd.set_option('max_rows', 5)
melbourne_data = pd.read_csv('data/melb_data.csv') 

melbourne_data.loc[:, ['Price','Address']]

In [ ]:
melbourne_data.Price.describe()

In [ ]:
melbourne_data.Address.describe()

In [ ]:
melbourne_data.describe()

## 映射 ( map() )

In [ ]:
# 假设我们想要将房价重新计算为现在价格减掉均值.可以这样做
price_mean = melbourne_data.Price.mean()
melbourne_data.Price.map(lambda p: p - price_mean)

In [ ]:
def remean_price(row):
    row.Price = row.Price - price_mean
    return row
  
melbourne_data.apply(remean_price, axis='columns')

# 数据分组聚合和排序

## 分组 (groupby() )

**映射map允许我们一次为整个列转换DataFrame或Series中的数据。 但是，我们通常希望对数据进行分组，然后对数据所在的组执行特定操作。为此，我们可以使用groupby操作**

In [ ]:
import pandas as pd
# pd.set_option('max_rows', 5)
import numpy as np
melbourne_data = pd.read_csv('data/melb_data.csv') 
melbourne_data.head()

In [ ]:
type(melbourne_data.groupby('Rooms'))

In [ ]:
# value_counts只是此groupby操作的快捷方式
melbourne_data.groupby('Rooms').Rooms.count()

In [ ]:
melbourne_data.Rooms.value_counts()

##### 选择数据集中每个房屋郊县的第一个房屋的地址：

In [ ]:
melbourne_data.groupby('Suburb').apply(lambda df: df.Address.iloc[0])

##### 对于更细粒度的控制，你还可以按多个列进行分组。 举个例子，我们将按区域Region和郊县Suburb挑选贵的房屋：

In [ ]:
melbourne_data.groupby(['Regionname', 'Suburb']).apply(lambda df: df.loc[df.Price.idxmax()])

##### 另一个值得一提的groupby方法是agg，它允许你同时在DataFrame上运行一堆不同的函数。 例如，我们可以生成数据集的简单统计摘要，如下所示

In [ ]:
melbourne_data.groupby(['Suburb']).Price.agg([len, min, max])

## 多索引

In [ ]:
house = melbourne_data.groupby(['Regionname', 'Suburb']).Address.agg([len])
house

In [ ]:
type(house.index)

转换回常规索引的方法，**reset_index()**方法

In [ ]:
house.reset_index()

## 排序

In [ ]:
house = house.reset_index()
house.sort_values(by='len')

In [ ]:
house.sort_values(by='len', ascending=False)

In [ ]:
house.sort_index()

In [ ]:
house.sort_values(by=['Regionname', 'len'])

In [ ]:
type(house)

In [ ]:
l1 = dir(pd.core.frame.DataFrame)
l2 = dir(pd.core.frame.Series)
l1 = list(filter(lambda a:a.__contains__('sort'),l1))
l2 = list(filter(lambda a:a.__contains__('sort'),l2))

print(l1,l2,sep="\n\n")

# 数据类型和缺失值

In [ ]:
import pandas as pd
import numpy as np
melbourne_data = pd.read_csv('data/melb_data.csv')

## 数据类型

In [ ]:
melbourne_data.Price.dtype

In [ ]:
melbourne_data.dtypes

In [ ]:
melbourne_data.index.dtype

In [ ]:
melbourne_data.Price.astype('int64')

## 缺失数据

**条目缺失值的值为NaN，“非数字”的缩写。 由于技术原因，这些NaN值始终为float64 dtype**

### 替换缺失值（ fillna() ）

替换缺失值是一种常见操作。 pandas为这个问题提供了一个非常方便的方法：**fillna**。 

fillna提供了一些减轻此类数据的不同策略。 例如，我们可以简单地用“Unknown”替换每个NaN：

In [ ]:
melbourne_data.BuildingArea.fillna("Unknown")

In [ ]:
l1 = dir(pd.core.frame.DataFrame)
l2 = dir(pd.core.frame.Series)
l1 = list(filter(lambda a:a.__contains__('fillna') or a.__contains__('replace'),l1))
l2 = list(filter(lambda a:a.__contains__('fillna') or a.__contains__('replace'),l2))

print(l1,l2,sep="\n\n")

替换非null值,用**replace()**方法：

In [1]:
melbourne_data.SellerG.replace('Biggin','Biggin New')

NameError: name 'melbourne_data' is not defined

# 数据去重（ drop_duplicates() ）

In [27]:
import pandas as pd
import numpy as np
data = pd.DataFrame({'column0':[0,0,0,0], 'column1':[0,0,0,1], 'column2':[0,0,1,1]})
drop_data = data.drop_duplicates(subset=None, keep='first', inplace=False)
# drop_data = data.drop_duplicates(subset=['column0', 'column1'], keep='first', inplace=False)
# data.duplicated()
drop_data

   column0  column1  column2
0        0        0        0
2        0        0        1
3        0        1        1

# 数据重命名和合并

In [ ]:
import pandas as pd
import numpy as np
melbourne_data = pd.read_csv('data/melb_data.csv')

## 重命名 ( rename() )

#### 重命名列名

In [ ]:
melbourne_data.rename(columns={'Price': 'Px'})

#### 重命名索引名称

In [ ]:
melbourne_data.rename(index={0: 'firstEntry', 1: 'secondEntry'})

#### 重命名行索引和列索引的name属性：**rename_axis**

In [ ]:
melbourne_data.rename_axis("houses", axis='rows').rename_axis("fields", axis='columns')

## 合并 ( concat，join和merge )

#### pandas.concat()
以下数据为YouTube视频数据集，它根据原籍国（例如加拿大和英国，在此示例中）分割数据
如果我们想同时研究多个国家，我们可以使用concat将它们联合起来：

In [ ]:
canadian_youtube = pd.read_csv("data/CAvideos.csv.zip")
british_youtube = pd.read_csv("data/GBvideos.csv.zip")

pd.concat([canadian_youtube,british_youtube])

#### pandas.DataFrame.join()

join允许你组合具有共同索引的不同DataFrame对象。 例如，要在加拿大和英国同一天下载的视频，我们可以执行以下操作：

In [ ]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

# pandas综合运用

## 将保存在txt文本中的学生信息填入Excel

In [ ]:
import pandas as pd

txt = ''
head = '专业	年级	班级	学号	姓名	类别	身份证号码	银行卡号'.split()
with open('./data/学生缴费信息.txt', encoding='utf-8') as f:
    txt = f.read()

print(txt)
print(head)

In [ ]:
help(open)