In [23]:
import sqlite3

# 创建数据库连接, 若不存在则自动创建db文件
conn = sqlite3.connect('./data/test.db')
print('连接数据库成功')

# 获取游标
cursor = conn.cursor()

# sql语句
# 建表 （只有integer类型并且是 primary key 的字段能够 autoincrement）
sql = '''
    create table company(
        id integer not null primary key autoincrement,
        name text not null,
        age int not null,
        address char(50),
        salary real
    );
'''   
# 插入数据
sql1 = '''
    insert into company (name, age, address, salary)
    values ('李逵', 36, '武汉', 8600)
'''
sql2 = '''
    insert into company (name, age, address, salary)
    values ('鲁智深', 46, '长沙', 5600)
'''
# 查询数据
sql3 = '''
    select id, name, age, address, salary
    from company;
'''

# 执行sql
# cs.execute(sql1)
# cs.execute(sql2)
# 提交
# conn.commit()

cursor1 = cursor.execute(sql3)
print(*cursor1, sep='\n')

print('sql执行成功')

# 关闭连接
conn.close()
print('数据库断开连接')

连接数据库成功
(1, '李逵', 36, '武汉', 8600.0)
(2, '鲁智深', 46, '长沙', 5600.0)
sql执行成功
数据库断开连接

In [28]:
print(*[i for i in dir(cursor) if not i.startswith('_')], sep='\n')

arraysize
close
connection
description
execute
executemany
executescript
fetchall
fetchmany
fetchone
lastrowid
row_factory
rowcount
setinputsizes
setoutputsize